/*fade*/
.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 0.28s;
  transition: opacity 0.28s; }
.fade-enter, .fade-leave-active {
  opacity: 0; }
/*fade-transform*/
.fade-transform-leave-active, .fade-transform-enter-active {
  -webkit-transition: all .5s;
  transition: all .5s; }
.fade-transform-enter {
  opacity: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px); }
.fade-transform-leave-to {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px); }
.el-breadcrumb__inner, .el-breadcrumb__inner a {
  font-weight: 400 !important; }
.current-row td {
  background-color: #409EFF !important;
  color: #f5f7fa;
  font-weight: 600;
  font-size: 16px; }
.el-upload input[type="file"] {
  display: none !important; }
.el-upload__input {
  display: none; }
.upload-container .el-upload {
  width: 100%; }
.upload-container .el-upload .el-upload-dragger {
    width: 100%;
    height: 200px; }
.el-dropdown-menu a {
  display: block; }
.el-menu--vertical > .el-menu .svg-icon {
  margin-right: 20px; }
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; }
label {
  font-weight: 700; }
html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
#app {
  height: 100%; }
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }
a:focus, a:active {
  outline: none; }
a, a:focus, a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }
div:focus {
  outline: none; }
.block {
  display: block; }
.pointer {
  cursor: pointer; }


.hamburger[data-v-0f8938db] {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .38s;
  transition: .38s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.hamburger.is-active[data-v-0f8938db] {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}


.app-breadcrumb.el-breadcrumb[data-v-ee32ebfc] {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
  margin-left: 10px;
}
.app-breadcrumb.el-breadcrumb .no-redirect[data-v-ee32ebfc] {
    color: #97a8be;
    cursor: text;
}


.screenfull-svg[data-v-31cdf04b] {
  display: inline-block;
  cursor: pointer;
  fill: #5a5e66;;
  width: 20px;
  height: 20px;
  vertical-align: 10px;
}


.navbar[data-v-6dbad850] {
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
}
.navbar .hamburger-container[data-v-6dbad850] {
    line-height: 58px;
    height: 50px;
    float: left;
    padding: 0 10px;
}
.navbar .breadcrumb-container[data-v-6dbad850] {
    float: left;
}
.navbar .errLog-container[data-v-6dbad850] {
    display: inline-block;
    vertical-align: top;
}
.navbar .right-menu[data-v-6dbad850] {
    float: right;
    height: 100%;
}
.navbar .right-menu[data-v-6dbad850]:focus {
      outline: none;
}
.navbar .right-menu .right-menu-item[data-v-6dbad850] {
      display: inline-block;
      margin: 0 8px;
}
.navbar .right-menu .screenfull[data-v-6dbad850] {
      height: 20px;
}
.navbar .right-menu .international[data-v-6dbad850] {
      vertical-align: top;
}
.navbar .right-menu .theme-switch[data-v-6dbad850] {
      vertical-align: 15px;
}
.navbar .right-menu .avatar-container[data-v-6dbad850] {
      height: 50px;
      margin-right: 15px;
}
.navbar .right-menu .avatar-container .avatar-wrapper[data-v-6dbad850] {
        line-height: initial;
        cursor: pointer;
        margin-top: 5px;
        position: relative;
}
.navbar .right-menu .avatar-container .avatar-wrapper .user-avatar[data-v-6dbad850] {
          width: 40px;
          height: 40px;
          border-radius: 10px;
}
.navbar .right-menu .avatar-container .avatar-wrapper .el-icon-caret-bottom[data-v-6dbad850] {
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
}


.menu-wrapper .submenu-title-no-dropdown[data-v-7ce7444a] {
  position: relative;
}
.menu-wrapper .submenu-title-no-dropdown[data-v-7ce7444a] .el-tooltip {
    padding: 0px 10px !important;
}
.menu-wrapper[data-v-7ce7444a] .el-submenu__title:hover, .menu-wrapper .el-menu-item[data-v-7ce7444a]:hover {
  background-color: #001528 !important;
}


[data-v-0b64d26a] .scrollbar-wrapper {
  overflow-x: hidden !important;
}
[data-v-0b64d26a] .scrollbar-wrapper .el-scrollbar__view {
    height: 100%;
}


.scroll-container[data-v-576c1752] {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.scroll-container[data-v-576c1752] .el-scrollbar__bar {
    bottom: 0px;
}
.scroll-container[data-v-576c1752] .el-scrollbar__wrap {
    height: 49px;
}


.tags-view-container[data-v-c6167ea2] {
  height: 34px;
  width: 100%;
  background: #fff;
}
.tags-view-container .tags-view-wrapper .tags-view-item[data-v-c6167ea2] {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    border: 1px solid #d8dce5;
    color: #495060;
    background: #fff;
    padding: 0 8px;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4px;
}
.tags-view-container .tags-view-wrapper .tags-view-item[data-v-c6167ea2]:first-of-type {
      margin-left: 15px;
}
.tags-view-container .tags-view-wrapper .tags-view-item[data-v-c6167ea2]:last-of-type {
      margin-right: 15px;
}
.tags-view-container .tags-view-wrapper .tags-view-item.active[data-v-c6167ea2] {
      background-color: #42b983;
      color: #fff;
      border-color: #42b983;
}
.tags-view-container .tags-view-wrapper .tags-view-item.active[data-v-c6167ea2]::before {
        content: '';
        background: #fff;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: relative;
        margin-right: 2px;
}
.tags-view-container .contextmenu[data-v-c6167ea2] {
    margin: 0;
    background: #fff;
    z-index: 100;
    position: absolute;
    list-style-type: none;
    padding: 5px 0;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.tags-view-container .contextmenu li[data-v-c6167ea2] {
      margin: 0;
      padding: 7px 16px;
      cursor: pointer;
}
.tags-view-container .contextmenu li[data-v-c6167ea2]:hover {
        background: #eee;
}


.tags-view-wrapper .tags-view-item .el-icon-close {
  width: 16px;
  height: 16px;
  vertical-align: 2px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}
.tags-view-wrapper .tags-view-item .el-icon-close:before {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    display: inline-block;
    vertical-align: -3px;
}
.tags-view-wrapper .tags-view-item .el-icon-close:hover {
    background-color: #b4bccc;
    color: #fff;
}


.app-main[data-v-eb3116e0] {
  min-height: calc(100vh - 84px);
  width: 100%;
  padding: 15px;
  position: relative;
  overflow: hidden;
}


.app-wrapper[data-v-01a59010] {
  position: relative;
  height: 100%;
  width: 100%;
}
.app-wrapper[data-v-01a59010]:after {
    content: "";
    display: table;
    clear: both;
}
.app-wrapper .main-container[data-v-01a59010] {
    min-height: 100%;
    -webkit-transition: margin-left .28s;
    transition: margin-left .28s;
    margin-left: 220px !important;
    position: relative;
}
.app-wrapper .sidebar-container[data-v-01a59010] {
    -webkit-transition: width 0.28s;
    transition: width 0.28s;
    width: 220px !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
}
.app-wrapper .sidebar-container[data-v-01a59010] .horizontal-collapse-transition {
      -webkit-transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}
.app-wrapper .sidebar-container[data-v-01a59010] .el-scrollbar__bar.is-vertical {
      right: 0px;
}
.app-wrapper .sidebar-container[data-v-01a59010] .is-horizontal {
      display: none;
}
.app-wrapper .sidebar-container[data-v-01a59010] a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
}
.app-wrapper .sidebar-container[data-v-01a59010] .svg-icon {
      margin-right: 16px;
}
.app-wrapper .sidebar-container[data-v-01a59010] .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
}
.app-wrapper.hide-sidebar .sidebar-container[data-v-01a59010] {
    width: 36px !important;
}
.app-wrapper.hide-sidebar .main-container[data-v-01a59010] {
    margin-left: 36px !important;
}
.app-wrapper.hide-sidebar[data-v-01a59010] .el-submenu {
    overflow: hidden;
}
.app-wrapper.hide-sidebar[data-v-01a59010] .el-submenu > .el-submenu__title {
      padding: 0 10px !important;
}
.app-wrapper.hide-sidebar[data-v-01a59010] .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
        display: none;
}
.app-wrapper.hide-sidebar[data-v-01a59010] .logo {
    display: none;
}
.app-wrapper.hide-sidebar .el-menu--vertical > .el-menu .svg-icon[data-v-01a59010] {
    margin-right: 20px;
}
.app-wrapper.without-animation .main-container[data-v-01a59010], .app-wrapper.without-animation .sidebar-container[data-v-01a59010] {
    -webkit-transition: none;
    transition: none;
}




















.svg-icon[data-v-2f0f1ae2] {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}










































.full[data-v-1943c456] {
  width: 100%;
}
.full .left[data-v-1943c456] {
    display: inline;
    width: 50%;
    min-height: 32px;
    line-height: 32px;
}
.full .right[data-v-1943c456] {
    display: inline;
    width: 50%;
    min-height: 32px;
    line-height: 32px;
}
.full .right .el-button[data-v-1943c456], .full .right .el-button-group[data-v-1943c456] {
      float: right;
      margin-left: 15px;
}


.full[data-v-40d894fb] {
  width: 100%;
}
.full .buttons[data-v-40d894fb] {
    width: 100%;
    margin-top: 10px;
}
.full .buttons .el-button[data-v-40d894fb], .full .buttons .el-button-group[data-v-40d894fb] {
      float: right;
      margin-left: 15px;
}


.el-input__inner[data-v-971c9ff8] {
  background-color: white !important;
  border: none !important;
}
.break-word[data-v-971c9ff8] {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap !important;
}


.el-textarea__inner[data-v-2821d53a] {
  background-color: white !important;
  border: none !important;
}
.break-word[data-v-2821d53a] {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap !important;
}


.flex-container[data-v-8dc6977c] {
  width: 100%;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.flex-container[data-v-2e6e8e77] {
  width: 100%;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}


.flex-container[data-v-68441215] {
  width: 100%;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}


.el-pagination[data-v-2b3dc321] {
  padding-top: 10px;
}


.full[data-v-08ea012a] {
  width: 100%;
}
.full .left[data-v-08ea012a] {
    display: inline;
    width: 50%;
    min-height: 32px;
    line-height: 32px;
}
.full .right[data-v-08ea012a] {
    display: inline;
    width: 50%;
    min-height: 32px;
    line-height: 32px;
}
.full .right .el-select[data-v-08ea012a] {
      float: right;
      margin-left: 15px;
}

