
[data-v-1569a130] .el-card {
  border: none;
}
[data-v-1569a130] .el-button {
  margin-left: 10px;
}


.el-card[data-v-75f3feed] {
  margin-top: 10px;
}
.avatar-uploader[data-v-75f3feed] .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader[data-v-75f3feed] .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader[data-v-75f3feed] .el-upload .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.avatar-uploader .avatar[data-v-75f3feed] {
  width: 178px;
  height: 178px;
  display: block;
}


.avatar-uploader[data-v-6adf42fe] .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader[data-v-6adf42fe] .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader[data-v-6adf42fe] .el-upload .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.avatar-uploader .avatar[data-v-6adf42fe] {
  width: 178px;
  height: 178px;
  display: block;
}


.el-button[data-v-f54a6c98] {
  margin-bottom: 10px;
}
.photo[data-v-f54a6c98] {
  margin: 0 auto;
  width: 178px;
  height: 178px;
}


.el-card[data-v-b3796b60] {
  margin-top: 10px;
}
[data-v-b3796b60] .el-card {
  border: none;
}
.query-btn[data-v-b3796b60] .el-button {
  float: right;
  margin-left: 10px;
}
[data-v-b3796b60] .el-tree {
  border-bottom: 1px solid #ebeef5;
}
[data-v-b3796b60] .el-tree .el-tree-node__content {
    border-top: 1px solid #ebeef5;
    border-left: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
    min-height: 40px;
}
.custom-tree-node[data-v-b3796b60] {
  width: 100%;
}
.custom-tree-node .name[data-v-b3796b60] {
    float: left;
    min-height: 40px;
    line-height: 40px;
}
.custom-tree-node .time[data-v-b3796b60] {
    float: right;
    width: 200px;
    min-height: 40px;
    line-height: 40px;
    border-left: 1px solid #ebeef5;
    text-align: center;
}

