
[data-v-a0d68fec] .el-card {
  border: none;
}
.query-btn[data-v-a0d68fec] .el-button {
  float: right;
  margin-left: 10px;
}


.el-card[data-v-99effd12] {
  margin-top: 10px;
}




































































.el-button[data-v-f2e24d70] {
  margin-bottom: 10px;
}

