
[data-v-02020664] .el-card {
  border: none;
}
.query-btn[data-v-02020664] .el-button {
  float: right;
  margin-left: 10px;
}


.el-select[data-v-b152073e] {
  width: 100%;
}


.el-select[data-v-28bcc67f] {
  width: 100%;
}


.el-button[data-v-61bc332b] {
  margin-bottom: 10px;
}

