
[data-v-67e52a32] .el-card {
  border: none;
}
.query-btn[data-v-67e52a32] .el-button {
  float: right;
  margin-left: 10px;
}




















































































































































.el-button[data-v-7fd743d6] {
  margin-bottom: 10px;
}

