 //覆盖一些element-ui样式

 .el-breadcrumb__inner, .el-breadcrumb__inner a {
  font-weight: 400!important;
 }

 .current-row {
   td {
     background-color: #409EFF !important;
     color: #f5f7fa;
     font-weight: 600;
     font-size: 16px;
   }
 }

 .el-upload {
   input[type="file"] {
     display: none !important;
   }
 }

 .el-upload__input {
   display: none;
 }

 //暂时性解决dialog 问题 https://github.com/ElemeFE/element/issues/2461
 .el-dialog {
   transform: none;
   left: 0;
   position: relative;
   margin: 0 auto;
 }

 //element ui upload
 .upload-container {
   .el-upload {
     width: 100%;
     .el-upload-dragger {
       width: 100%;
       height: 200px;
     }
   }
 }

//dropdown
 .el-dropdown-menu{
   a{
     display: block
   }
}
